#navbar{
    display: flex;
    justify-content: space-between;
    height: 5vw;
    /* padding-left:2%; */
    align-items: center;
    width: 96%;
    margin-left: 3%;
    border-bottom: 2px solid black;
    margin-top: 1%;
}
.logo{
    width: 40%;
}
img{
    /* width: 26%; */
}
.content-area{
    width: 60%;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
li{
    list-style: none;
    font-size: 20px;
}
a{
    text-decoration: none;
    color:  rgb(39, 39, 39);
}