.footer{
    display: flex;
    justify-content: space-between;
    height: 5vw;
    /* padding-left:5%; */
    align-items: center;
    width: 96%;
    margin-left: 3%;
    border-top: 2px solid black;
    margin-top: 1%;
}
.foot-btns{
    display: flex;
    width: 50%;
    gap: 3%;
    cursor: pointer}
button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color:rgb(201, 201, 234);
    cursor: pointer;
}
.foot-img{
    width: 50%;
    display: flex;
    justify-content:end;
}
.foot-img>a>img{
    width: 50%;
    margin-left:20%;
}