.news-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    padding: 10px;
    height: 40vh;
    overflow-y:hidden;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -2px -10px 5px rgb(40, 40, 41);
}

.image{
   
    height: 50%;
    width: 100%;
}
.image>img{
    border-radius: 10px;
    height: 100%;
  width: 100%;
}
.details{
    overflow-y: hidden;
    height: 60%;
    width: 100%;
}
.title{
    font-size: bold;
}