.news-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    padding: 10px;
    height: 40vh;
    overflow-y:hidden;
    border: 2px solid black;
}

.image{
    height: 60%;
    width: 100%;
}
.image>img{
    height: 100%;
  width: 100%;
}
.details{
    overflow-y: hidden;
    height: 60%;
    width: 100%;
}
.title{
    font-size: bold;
}